<div class="alert alert-warning">
	<h1>Login</h1>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="inputEmail">E-mail:</label>
			<input type="email" class="form-control" id="inputEmail" placeholder="Enter your email adress" [(ngModel)]="persons.email" name="email" required>
		</div>
		<div class="form-group">
			<label for="inputPassword">Password:</label>
			<input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="persons.password" name="password" required>
		</div>
		<button type="submit" class="btn btn-danger">Login</button>
	</form>
</div>