<div *ngIf="isLoggedIn()">
	<a routerLink="/job/new">
		<div class="card new-job shadow p-3 mb-5 bg-white rounded">
			<div class="card-body">
				<h5 class="card-title">Post a new job...</h5>
				<p class="card-text">You need some work done? Click here to post a new job..!</p>
			</div>
		</div>
	</a>
</div>

<div *ngFor="let job of jobs">
	<a routerLink="/job/{{job.id}}">
		<div class="card shadow">
			<h5 class="card-header">{{ job.title }}</h5>
			<div class="card-body">
				<h5 class="card-title">{{ job.title }}</h5>
				<p class="card-text">{{ job.description }}</p>
			</div>
		</div>
	</a>
</div>