<div class="alert alert-warning">
	<h1>Register</h1>
	<form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="inputEmail">Email address:</label>
			<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="persons.email" name="email" required>
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="inputPassword">Password:</label>
			<input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="persons.password" name="password" required>
		</div>
		<button type="submit" class="btn btn-danger">Register</button>
	</form>
</div>